@import '_pagination';
table {
  font-size: 1.6rem;
  width: 100%;
  border-bottom: 2px solid #333;
  margin-bottom: 50px;
  border-collapse: collapse;
  font-family: $fontDefault;
  thead {
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    th {
      padding: 15px;
      box-sizing: border-box;
      &:nth-of-type(1) {
        width: 10%;
      }
      &:nth-of-type(3) {
        width: 15%;
      }
      &:nth-of-type(4) {
        width: 10%;
      }
      &:nth-of-type(5) {
        width: 15%;
      }
    }
  }
  tbody {
    tr {
      border-bottom: 1px solid #aaa;
      &:hover {
        background-color: $bgPoint-1;
        color: $fontColor-brown;
        a {
          color: $fontColor-brown;
        }
      }
      td {
        padding: 13px;
        text-align: center;
        &:nth-of-type(2) {
          text-align: left;
        }
        a {
          line-height: 1.4;
        }
      }
    }
  }
}