* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: inherit;
}

ul,
li,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background-color: inherit;
  border: 0;
  cursor: pointer;
}

fieldset {
  border: 0;
}

input {
  font-size: 1.6rem;
  border: 0;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 0.5em;
}

.radio,
.checkbox {
  cursor: pointer;
}

.hidden {
  position: absolute;
  text-indent: -9999px;
}

html,
body {
  font-size: 10px;
  overflow-x: hidden;
  font-family: $fontDefault;
}