  .join {
    background-image: url(../img/bg-3.jpg);
    .inner {
      @include inner;
      width: 800px;
      padding-bottom: 10em;
    }
    .inner_cont {
      padding: 3em;
      backdrop-filter: blur(5px);
    }
    .left_cont {
      h2 {
        font-size: 3.6rem;
        font-family: $fontPoint;
        letter-spacing: 1px;
        margin-bottom: .4em;
      }
      p {
        font-size: 1.6rem;
        margin-bottom: 2em;
      }
    }
    .right_cont {
      .input_group {
        margin-bottom: 3em;
        position: relative;
        .form_title {
          font-size: 1.8rem;
          color: $fontColor;
          margin-bottom: .5em;
        }
        input[type=text],
        input[type=password] {
          width: 100%;
          max-width: 30rem;
          height: 3.4rem;
          box-shadow: 5px 5px $bgPoint-1;
        }
        select {
          width: 100%;
          max-width: 30rem;
          height: 3.4rem;
          margin-top: .5em;
          border: 1px solid $bgPoint-1;
          box-shadow: 5px 5px $bgPoint-1;
        }
        .err_msg {
          position: absolute;
        }
      }
      .radio {
        position: relative;
        padding-left: 2.2rem;
        font-size: 1.6rem;
        color: $colorDarkGary;
        margin-right: 1em;
        &:before {
          content: '';
          display: block;
          width: 1rem;
          height: 1rem;
          position: absolute;
          top: 3px;
          left: 3px;
          background-color: #ccc;
          border-radius: 50%;
          outline: 1px solid #ccc;
          outline-offset: 3px;
        }
        input {
          width: 0;
          height: 0;
        }
        &.on {
          color: $colorBk;
          &::before {
            background-color: $fontColor-brown;
            outline-color: $fontColor-brown;
          }
        }
      }
      .btn_wrap {
        display: flex;
        margin-top: 5em;
        input {
          width: 50%;
          height: 3.4rem;
          margin-right: 2%;
          background: $colorLightGray;
          color: $colorDarkGary;
          cursor: pointer;
          &.btn_submit {
            background: $fontColor-brown;
            color: #fff;
            margin-right: 0;
          }
        }
      }
    }
  }
  
  .err_msg {
    font-size: 1.2rem;
    color: $colorRed;
    margin-top: 0.5em;
  }
  
  @include mobile {
    .join .right_cont .input_group {
      .input_mail {
        display: flex;
        align-items: center;
        input {
          margin-right: 2%;
        }
        select {
          margin-top: 0;
        }
      }
    }
  }
  
  @include miniTable {
    .join {
      .inner_cont {
        display: flex;
        padding: 0;
        .left_cont {
          width: 50%;
          background: url(../img/blog/HC-post-62.jpg) no-repeat center/cover;
          padding: 2rem;
          color: #fff;
          text-shadow: 1px 1px 10px $colorBk;
        }
        .right_cont {
          width: 50%;
          padding: 2rem 3rem;
          border: 1px solid $bgPoint-2;
          border-left: 0;
        }
      }
    }
  }
  
  @include tablet {
    .join {
      padding-bottom: 10em;
      .right_cont .input_group {
        input[type=text],
        input[type=password],
        select {
          max-width: 100%;
        }
        .input_mail {
          display: block;
          select {
            margin-top: .5em;
          }
        }
      }
    }
  }