  .join {
    background-image: url(../img/bg-3.jpg);
    .inner {
      @include inner;
      width: 800px;
      padding-bottom: 10em;
    }
    .inner_cont {
      padding: 3em;
      backdrop-filter: blur(5px);
    }
    .left_cont {
      h2 {
        font-size: 3.6rem;
        font-family: $fontPoint;
        letter-spacing: 1px;
        margin-bottom: .4em;
      }
      p {
        font-size: 1.6rem;
        margin-bottom: 2em;
      }
    }
  }
  
  .err_msg {
    font-size: 1.2rem;
    color: $colorRed;
    margin-top: 0.5em;
  }
  
  @include miniTable {
    .join {
      .inner_cont {
        display: flex;
        padding: 0;
        .left_cont {
          width: 50%;
          background: url(../img/blog/HC-post-62.jpg) no-repeat center/cover;
          padding: 2rem;
          color: #fff;
          text-shadow: 1px 1px 10px $colorBk;
        }
        .right_cont {
          width: 50%;
          padding: 2rem 3rem;
          border: 1px solid $bgPoint-2;
          border-left: 0;
        }
      }
    }
  }
  
  @include tablet {
    .join {
      padding-bottom: 10em;
    }
  }