/* ---------------------------- footer ---------------------------- */

footer {
  font: 600 10px/1.5 $fontDefault;
  letter-spacing: 2px;
  background-color: #464648;
  color: #fff;
  .footerTop {
    text-align: center;
    p {
      position: relative;
      padding: 30px 15px;
      box-sizing: border-box;
      &:nth-of-type(2) {
        font: 20px/1.2 $fontPoint;
      }
      &:last-of-type:after {
        display: none;
      }
      &::after {
        content: " ";
        display: block;
        width: 100%;
        height: 1px;
        background: #fff;
        position: absolute;
        right: 0;
        bottom: 0;
      }
    }
  }
}

.footerBottom {
  background-color: #222;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
}

@include mobile {
  footer {
    .inner {
      display: flex;
      padding: 2em 0;
    }
    .footerTop {
      p {
        width: 33.33%;
        padding-top: 1em;
        padding-bottom: 1em;
        display: flex;
        align-items: center;
        justify-content: center;
        &::after {
          width: 1px;
          height: 100%;
        }
      }
    }
  }
}