@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Cardo:ital@1&family=Homemade+Apple&family=Montserrat:wght@300;600&display=swap");
@keyframes bgSizeAni {
  0% {
    background-size: 100% 100%;
  }
  100% {
    background-size: 105% 105%;
  }
}
@keyframes arrowBtnPrev {
  0% {
    left: 30%;
  }
  100% {
    left: 70%;
  }
}
@keyframes arrowBtnNext {
  0% {
    left: 70%;
  }
  100% {
    left: 30%;
  }
}
@keyframes pictureR {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(-10deg);
  }
}
@keyframes pictureL {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(10deg);
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: inherit;
}

::-webkit-scrollbar {
  display: none;
}

ul,
li,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background-color: inherit;
  border: 0;
  cursor: pointer;
}

fieldset {
  border: 0;
}

input {
  font-size: 1.6rem;
  border: 0;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 0.5em;
}
input:focus {
  outline-color: #dfb15b;
}

.radio,
.checkbox {
  cursor: pointer;
}

.hidden {
  position: absolute;
  text-indent: -9999px;
}

html,
body {
  font-size: 10px;
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
}

/* 버튼 */
.btn_wrap {
  width: 100%;
  display: flex;
  justify-content: center;
}

.btn_more {
  display: inline-block;
  margin: 0 auto;
  position: relative;
  font: 1.6rem/1 "Audrey", sans-serif;
}
.btn_more::after {
  content: " ";
  display: block;
  width: 100%;
  height: 1em;
  position: relative;
  top: -0.5em;
  left: 0.7em;
  background-color: #cde4de;
  transition: 0.5s;
}
.btn_more:hover::after {
  background-color: #e6e7e1;
}
.btn_more span {
  position: relative;
  z-index: 1;
}

.btn_normal {
  font-size: 1.6rem;
  display: inline-block;
  padding: 0.3em 1em;
  background-color: #333;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
  color: #fff;
}
.btn_normal:hover {
  background: #dfb15b;
}

/* 스크롤 감추기 */
.scroll_hidden {
  height: 100vh;
  overflow: hidden;
}

/* 
  * font : 'Montserrat';
    - 100, 300, 500, 700
*/
h1,
h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.pagination {
  width: 100%;
  text-align: center;
}
.pagination:after {
  content: "";
  display: block;
  clear: both;
}
.pagination .prev {
  float: left;
  display: block;
  width: 2rem;
  height: 2rem;
  position: relative;
  text-align: center;
  font-size: 1.2rem;
}
.pagination .prev:after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: #777;
  position: absolute;
  top: 50%;
  transform: rotate(-30deg);
  transform-origin: left center;
  transition: all 0.5s;
}
.pagination .prev::before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: #777;
  position: absolute;
  top: 50%;
  transform: rotate(30deg);
  transform-origin: left center;
  transition: all 0.5s;
}
.pagination .prev span {
  display: inline-block;
  line-height: 2rem;
  color: #777;
  text-align: center;
  opacity: 0;
  transform: translateX(100%);
  transition: all 0.5s;
}
.pagination .prev:hover:after {
  top: 0;
  transform: rotate(180deg);
  transform-origin: center center;
}
.pagination .prev:hover:before {
  top: 100%;
  transform: rotate(180deg);
  transform-origin: center center;
}
.pagination .prev:hover span {
  opacity: 1;
  transform: translateX(0);
}
.pagination .next {
  float: right;
  display: block;
  width: 2rem;
  position: relative;
  text-align: center;
  font-size: 12px;
}
.pagination .next::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #777;
  position: absolute;
  top: 50%;
  transform: rotate(30deg);
  transform-origin: right center;
  transition: all 0.5s;
}
.pagination .next::before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #777;
  position: absolute;
  top: 50%;
  transform: rotate(-30deg);
  transform-origin: right center;
  transition: all 0.5s;
}
.pagination .next span {
  display: inline-block;
  line-height: 2rem;
  color: #777;
  text-align: center;
  opacity: 0;
  transform: translateX(100%);
  transition: all 0.5s;
}
.pagination .next:hover:after {
  top: 0;
  transform: rotate(-180deg);
  transform-origin: center center;
}
.pagination .next:hover:before {
  top: 100%;
  transform: rotate(-180deg);
  transform-origin: center center;
}
.pagination .next:hover span {
  opacity: 1;
  transform: translateX(0);
}
.pagination .numbers {
  display: inline-block;
  text-align: center;
  font-size: 0;
}
.pagination .numbers a {
  display: inline-block;
  border-top: 1px solid #888;
  border-bottom: 1px solid #888;
  width: 2rem;
  height: 2rem;
  font: 11px/2rem "arial";
  color: #666;
  margin: 0 5px;
}
.pagination .numbers a:hover {
  background: #666;
  color: #fff;
}

@media (min-width: 640px) {
  .pagination .next,
.pagination .prev {
    width: 3rem;
    height: 3rem;
  }
  .pagination .next span,
.pagination .prev span {
    line-height: 3rem;
  }
  .pagination .numbers a {
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
  }
}
.table_layout {
  overflow-x: auto;
}
.table_layout table {
  table-layout: fixed;
  min-width: 1000px;
}

table {
  font-size: 1.6rem;
  width: 100%;
  border-bottom: 2px solid #333;
  margin-bottom: 50px;
  border-collapse: collapse;
  font-family: "Montserrat", sans-serif;
}
table thead {
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
}
table thead th {
  padding: 15px;
  box-sizing: border-box;
}
table thead th:nth-of-type(1) {
  width: 10%;
}
table thead th:nth-of-type(3) {
  width: 15%;
}
table thead th:nth-of-type(4) {
  width: 10%;
}
table thead th:nth-of-type(5) {
  width: 15%;
}
table tbody tr {
  border-bottom: 1px solid #aaa;
}
table tbody tr:hover {
  background-color: #f6ebe4;
  color: #8e4a15;
}
table tbody tr:hover a {
  color: #8e4a15;
}
table tbody tr td {
  padding: 13px;
  text-align: center;
}
table tbody tr td:nth-of-type(2) {
  text-align: left;
}
table tbody tr td a {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  line-height: 1.4;
}

header {
  width: 100%;
  height: 100px;
}
header .header_wrap {
  width: 100%;
  height: 100px;
  background: #fff;
  color: #333;
  position: fixed;
  top: 0;
  z-index: 20;
  transition: 0.3s;
}
header .inner {
  width: 1180px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 3rem;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
@media screen and (min-width: 1200px) {
  header .inner {
    padding: 0;
  }
}
header .logo {
  width: 200px;
  transition: 0.3s;
}
header .logo a {
  height: 100%;
  display: block;
  font-size: 0;
}
header .logo a img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: 0.3s;
}

.gnb_toggle {
  width: 3rem;
}

/* gnb */
.gnb_box {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 50;
  display: none;
}
.gnb_box.open {
  display: block;
}
.gnb_box .gnb_overlay {
  width: 100vmax;
  height: 100vmax;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 50%;
  transform: translate(0) scale(0);
  transform-origin: top right;
  transition: 500ms;
}
.gnb_box .gnb_overlay.fade_bg {
  transform: translate(50%, -50%) scale(2);
}

.gnb_inner {
  width: 80vw;
  max-width: 30rem;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 1.6rem;
  background-color: #fff;
  opacity: 0;
  transition: 500ms;
  transform: translateX(100%);
}
.gnb_inner.mob_open {
  opacity: 1;
  transform: translateX(0);
}
.gnb_inner .gnb_cancle {
  width: 3rem;
  height: 3rem;
  position: absolute;
  right: 1.6em;
  top: 2em;
  z-index: 10;
}
.gnb_inner .gnb_cancle::after, .gnb_inner .gnb_cancle::before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #000;
  transform-origin: center;
}
.gnb_inner .gnb_cancle::after {
  transform: rotate(45deg);
}
.gnb_inner .gnb_cancle::before {
  transform: translateY(2px) rotate(-45deg);
}

#gnb {
  font: 2.4rem/1 "Montserrat";
  padding-top: 2.5em;
}
#gnb li {
  text-align: right;
}
#gnb li:last-child {
  margin-right: 0;
}
#gnb li.page_on {
  color: #dfb15b;
  font-weight: 600;
}
#gnb li a {
  display: block;
  padding: 1em 0;
  transition: 0.3s;
}
#gnb li a:hover {
  color: #dfb15b;
}

/* util */
.util {
  display: flex;
  justify-content: flex-end;
}
.util li {
  font-size: 0;
  margin-left: 1rem;
  background: #f3e6de;
  color: #777;
  padding: 0.5rem;
  line-height: 1;
  border-radius: 0.2rem;
}
.util li a {
  transition: 0.3s;
}
.util li a:hover {
  color: #dfb15b;
}
.util li a i {
  font-size: 1.6rem;
}
.util li:last-of-type {
  display: flex;
  align-items: center;
}
.util li:last-of-type a {
  display: inline-block;
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 1;
  color: #8e4a15;
}

header.scroll .header_wrap {
  height: 80px;
  border-bottom: 1px solid #efefef;
}
header.scroll .logo {
  padding: 0.5em 0;
}
header.scroll .logo img {
  object-position: left;
}

/*------------------------ loading ------------------------*/
.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 100;
  background-color: #f6ebe4;
  overflow: hidden;
  font-family: "Audrey", sans-serif;
}
.loading div {
  font-size: 3rem;
}
.loading span {
  opacity: 0;
  animation: loading 1000ms linear infinite alternate;
}
.loading span:nth-of-type(1) {
  animation-delay: 100ms;
}
.loading span:nth-of-type(2) {
  animation-delay: 200ms;
}
.loading span:nth-of-type(3) {
  animation-delay: 300ms;
}
.loading span:nth-of-type(4) {
  animation-delay: 400ms;
}
.loading span:nth-of-type(5) {
  animation-delay: 500ms;
}
.loading span:nth-of-type(6) {
  animation-delay: 600ms;
}
.loading span:nth-of-type(7) {
  animation-delay: 700ms;
}
.loading span:nth-of-type(8) {
  animation-delay: 800ms;
}
.loading span:nth-of-type(9) {
  animation-delay: 900ms;
}
.loading span:nth-of-type(10) {
  animation-delay: 1000ms;
}

@keyframes loading {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@media (min-width: 640px) {
  header {
    height: 150px;
  }
  header .header_wrap {
    height: 150px;
  }
  header .logo {
    width: 300px;
    flex: 0 0 300px;
  }
}
@media (min-width: 1200px) {
  .gnb_toggle {
    display: none;
  }

  .gnb_box {
    height: auto;
    display: block !important;
    position: relative;
  }
  .gnb_box .gnb_overlay {
    display: none;
  }

  .gnb_inner {
    width: 100%;
    max-width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    right: auto;
    bottom: auto;
    padding: 0;
    background: transparent;
    padding: 0;
    opacity: 1;
    transform: translateX(0);
  }
  .gnb_inner .gnb_cancle {
    display: none;
  }

  #gnb {
    padding: 0;
    font-size: 1.6rem;
  }
  #gnb ul {
    display: flex;
  }
  #gnb ul li {
    margin-right: 2rem;
  }
  #gnb ul li a {
    line-height: 150px;
    padding: 0;
  }

  .util li {
    background: transparent;
    color: #333;
    margin-left: 0.2rem;
  }
  .util li a i {
    font-size: 18px;
  }

  header.scroll #gnb ul li a {
    line-height: 80px;
  }

  .loading div {
    font-size: 6rem;
    letter-spacing: 2px;
  }
}
/* ---------------------------- footer ---------------------------- */
footer {
  font: 600 10px/1.5 "Montserrat", sans-serif;
  letter-spacing: 2px;
  background-color: #464648;
  color: #fff;
}
footer .footerTop {
  text-align: center;
}
footer .footerTop p {
  position: relative;
  padding: 30px 15px;
  box-sizing: border-box;
}
footer .footerTop p:nth-of-type(2) {
  font: 20px/1.2 "Cardo", sans-serif;
}
footer .footerTop p:last-of-type:after {
  display: none;
}
footer .footerTop p::after {
  content: " ";
  display: block;
  width: 100%;
  height: 1px;
  background: #fff;
  position: absolute;
  right: 0;
  bottom: 0;
}

.footerBottom {
  background-color: #222;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
}

@media (min-width: 640px) {
  footer .inner {
    display: flex;
    padding: 2em 0;
  }
  footer .footerTop p {
    width: 33.33%;
    padding-top: 1em;
    padding-bottom: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  footer .footerTop p::after {
    width: 1px;
    height: 100%;
  }
}
/* ---------------------------- main common ----------------------------  */
/*  회전제목 */
section h1 {
  position: relative;
}
section h1:after {
  content: "";
  display: inline-block;
  width: 15rem;
  height: 1px;
  vertical-align: middle;
  margin-left: 2rem;
  background-color: #222;
}

.rotate_tit {
  font: 3rem/1 "Cardo", sans-serif;
  width: 0;
  height: 0;
  display: inline-block;
  position: absolute;
  top: 1em;
  z-index: 2;
  white-space: nowrap;
  transform: rotate(90deg);
  transform-origin: left top;
}

/* 컨텐츠 영역 */
.content {
  padding: 0;
}
.content h2 {
  font: 500 2.4rem/1 "Audrey", sans-serif;
  margin-top: 2em;
  margin-bottom: 0.5em;
  text-align: center;
}
.content p {
  font: 1.4rem/1.5 "Montserrat", sans-serif;
  margin-bottom: 1.5em;
}
.content .point {
  font: 1.6rem/1.5 "Audrey", sans-serif;
  color: #dfb15b;
  text-align: center;
}

/* ---------------------------- main ---------------------------- */
#main {
  height: calc(100vh - 100px);
  position: relative;
}
#main .mainSwiper {
  height: 100%;
}
#main .mainSwiper .swiper-slide {
  position: relative;
}
#main .mainSwiper .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#main .mainSwiper .swiper-slide .cont {
  max-width: 1180px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  position: absolute;
  top: 6rem;
  left: 3rem;
  right: 3rem;
  bottom: 6rem;
  padding: 3rem;
  background: rgba(255, 255, 255, 0.6);
  outline: 1px solid #fff;
  outline-offset: 1.5rem;
  text-align: right;
}
#main .mainSwiper .swiper-slide .cont h2 {
  font-size: 2.4rem;
  font-family: "Audrey", sans-serif;
  text-transform: uppercase;
  color: #8e4a15;
  margin-bottom: 0.5em;
}
#main .mainSwiper .swiper-slide .cont p {
  font-size: 1.4rem;
}
#main .mainSwiper .swiper-button-next,
#main .mainSwiper .swiper-button-prev {
  width: 3rem;
  height: 3rem;
}
#main .mainSwiper .swiper-button-next:after,
#main .mainSwiper .swiper-button-prev:after {
  content: "";
  display: block;
  width: 50%;
  height: 50%;
  border-top: 3px solid #8e4a15;
  border-right: 3px solid #8e4a15;
  transform: rotate(45deg);
  transition: 500ms;
}
#main .mainSwiper .swiper-button-next:hover::after,
#main .mainSwiper .swiper-button-prev:hover::after {
  border-color: #dfb15b;
}
#main .mainSwiper .swiper-button-prev:after {
  transform: rotate(-135deg);
}
#main .polaroidSwiper {
  display: none;
  width: 400px;
  height: 500px;
  position: absolute;
  top: 100px;
  left: 50px;
  background-color: #fff;
  padding: 2em 2em 6em;
}
#main .polaroidSwiper .swiper-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ---------------------------- popular ---------------------------- */
#popular,
#favorite {
  padding: 3rem;
  box-sizing: border-box;
  background: url(../img/bg-3.jpg) no-repeat center/cover;
  background-attachment: fixed;
}
#popular .inner,
#favorite .inner {
  position: relative;
  background: #fff;
  padding: 3rem;
  box-sizing: border-box;
}
#popular .inner:after,
#favorite .inner:after {
  content: "";
  display: block;
  width: 13rem;
  height: 13rem;
  position: absolute;
  bottom: -5rem;
  right: -3rem;
  z-index: 5;
  background: url(../img/HC-Badge.png) no-repeat center/cover;
}
#popular .inner h1,
#favorite .inner h1 {
  font: 2.4rem/1 "Cardo", sans-serif;
  padding: 0.8em 0;
}
#popular .inner .wrap article,
#favorite .inner .wrap article {
  width: 100%;
  position: relative;
  margin-bottom: 3rem;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
}
#popular .inner .wrap article:nth-of-type(1),
#favorite .inner .wrap article:nth-of-type(1) {
  transition-delay: 300ms;
}
#popular .inner .wrap article:nth-of-type(2),
#favorite .inner .wrap article:nth-of-type(2) {
  transition-delay: 600ms;
}
#popular .inner .wrap article:nth-of-type(3),
#favorite .inner .wrap article:nth-of-type(3) {
  transition-delay: 900ms;
}
#popular .inner .wrap article::after,
#favorite .inner .wrap article::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.3);
  opacity: 0;
  transition: 500ms;
}
#popular .inner .wrap article:last-of-type,
#favorite .inner .wrap article:last-of-type {
  margin-bottom: 0;
}
#popular .inner .wrap article:hover,
#favorite .inner .wrap article:hover {
  animation: bgSizeAni 1s alternate;
}
#popular .inner .wrap article:hover::after,
#favorite .inner .wrap article:hover::after {
  opacity: 1;
}
#popular .inner .wrap article:hover .pic img,
#favorite .inner .wrap article:hover .pic img {
  transform: scale(1.1);
}
#popular .inner .wrap article:hover p,
#favorite .inner .wrap article:hover p {
  color: #d6e9e5;
}
#popular .inner .wrap article:hover h2,
#favorite .inner .wrap article:hover h2 {
  color: #dfb15b;
}
#popular .inner .wrap article .pic,
#favorite .inner .wrap article .pic {
  overflow: hidden;
  font-size: 0;
}
#popular .inner .wrap article .pic img,
#favorite .inner .wrap article .pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: transform 500ms;
}
#popular .inner .wrap article .cont,
#favorite .inner .wrap article .cont {
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.9);
  outline: 1px solid #fff;
  outline-offset: 5px;
  padding: 2.2em 1.4em;
  box-sizing: border-box;
  text-align: center;
}
#popular .inner .wrap article .cont p,
#favorite .inner .wrap article .cont p {
  font: 600 1.2rem/1 "Montserrat", sans-serif;
  color: #dfb15b;
  margin-bottom: 1.5rem;
  transition: color 0.5s;
}
#popular .inner .wrap article .cont h2,
#favorite .inner .wrap article .cont h2 {
  font: 1.6rem/1.5 "Audrey", sans-serif;
  text-transform: uppercase;
  transition: color 0.5s;
}

/* ---------------------------- weeks ---------------------------- */
#weeks,
#recipes,
#dessert {
  background-color: #fff;
  padding: 3rem 3rem 8rem;
  box-sizing: border-box;
}
#weeks .inner,
#recipes .inner,
#dessert .inner {
  width: 1180px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 3rem;
  position: relative;
}
@media screen and (min-width: 1200px) {
  #weeks .inner,
#recipes .inner,
#dessert .inner {
    padding: 0;
  }
}
#weeks .wrap .cardImgBox,
#recipes .wrap .cardImgBox,
#dessert .wrap .cardImgBox {
  position: relative;
}
#weeks .wrap .cardImgBox::before,
#recipes .wrap .cardImgBox::before,
#dessert .wrap .cardImgBox::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 2rem;
}
#weeks .wrap .cardImgBox .cardImg,
#recipes .wrap .cardImgBox .cardImg,
#dessert .wrap .cardImgBox .cardImg {
  font-size: 0;
  width: 100%;
  height: 100%;
  position: relative;
  box-shadow: 2px 2px 14px 0px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
#weeks .wrap .cardImgBox .cardImg:hover img,
#recipes .wrap .cardImgBox .cardImg:hover img,
#dessert .wrap .cardImgBox .cardImg:hover img {
  transform: scale(1.1);
}
#weeks .wrap .cardImgBox .cardImg img,
#recipes .wrap .cardImgBox .cardImg img,
#dessert .wrap .cardImgBox .cardImg img {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
  object-fit: cover;
  transition: 1s;
}

#weeks .wrap .cardImgBox::before,
#dessert .wrap .cardImgBox::before {
  left: -2rem;
  background-color: #f6ebe4;
}

#recipes .rotate_tit {
  right: -3rem;
}
#recipes .wrap .cardImgBox::before {
  right: -2rem;
  background-color: #e0e1da;
}

/* banner */
.banner {
  width: 100%;
  position: relative;
  margin-top: 3rem;
  padding: 0 1.5rem;
}
.banner .banner_inner {
  overflow-x: auto;
}
.banner .banner_inner .banner_cont {
  display: flex;
  position: relative;
  top: 0;
  left: 0;
}
.banner .banner_inner .banner_cont a {
  display: block;
  width: 11.5rem;
  height: 11.5rem;
  flex: 0 0 11.5rem;
  padding: 2rem;
  box-sizing: border-box;
  border: 1px solid transparent;
  transition: 0.5s;
}
.banner .banner_inner .banner_cont a::hover {
  border-color: #dfb15b;
}
.banner .banner_inner .banner_cont a img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.banner .banner_prev,
.banner .banner_next {
  width: 3rem;
  height: 3rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
  background-color: rgba(255, 255, 255, 0.6);
}
.banner .banner_prev::after,
.banner .banner_next::after {
  content: "";
  display: block;
  width: 20%;
  height: 20%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  border-top: 1px solid #333;
  border-left: 1px solid #333;
  transition: 0.3s;
}
.banner .banner_prev {
  left: 0;
}
.banner .banner_prev:hover::after {
  animation: arrowBtnPrev 0.5s infinite alternate;
}
.banner .banner_next {
  right: 0;
}
.banner .banner_next::after {
  transform: translate(-50%, -50%) rotate(135deg);
}
.banner .banner_next:hover::after {
  left: 100%;
  animation: arrowBtnNext 0.5s infinite alternate;
}

.slogan {
  padding: 4rem 0;
  background-color: #eee;
}
.slogan .inner {
  width: 1180px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 3rem;
}
@media screen and (min-width: 1200px) {
  .slogan .inner {
    padding: 0;
  }
}
.slogan figure {
  max-width: 1000px;
  margin: 0 auto;
}
.slogan figure img {
  width: 100%;
  object-fit: cover;
}

/* ---------------------------- rolling_banner ---------------------------- */
#rolling_banner {
  background-color: #f3f3f3;
}
#rolling_banner .inner {
  width: 1180px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 0;
}
@media screen and (min-width: 1200px) {
  #rolling_banner .inner {
    padding: 0;
  }
}
#rolling_banner .swiper .swiper-slide {
  width: 20%;
  float: left;
}
#rolling_banner .swiper a {
  display: block;
  padding: 20px;
}
#rolling_banner .swiper a img {
  width: 100%;
  object-fit: cover;
}

/* ---------------------------- meet ---------------------------- */
#meet {
  padding: 3rem;
  background: url(../img/bg-2.jpg) no-repeat center/cover;
}
#meet .inner {
  width: 1180px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 3rem;
  background-color: #fff;
  padding: 3rem;
}
@media screen and (min-width: 1200px) {
  #meet .inner {
    padding: 0;
  }
}
#meet .cardImgBox {
  display: flex;
  position: relative;
}
#meet .cardImgBox .cardImg {
  width: 50%;
  position: relative;
}
#meet .cardImgBox .cardImg:first-of-type {
  margin-right: 3rem;
  margin-top: 3rem;
  z-index: 1;
}
#meet .cardImgBox .cardImg:first-of-type::before {
  content: "";
  display: block;
  width: calc(100% + 4rem);
  height: calc(100% - 2rem);
  position: absolute;
  bottom: -1rem;
  left: -1rem;
  z-index: -1;
  background-color: #f6ebe4;
}
#meet .cardImgBox .cardImg:first-of-type .card_img_wrap {
  margin-right: -5rem;
}
#meet .cardImgBox .cardImg:last-of-type {
  margin-left: 3rem;
  transition-delay: 200ms;
}
#meet .cardImgBox .cardImg:last-of-type .card_img_wrap {
  margin-left: -5rem;
  border-right: 0;
}
#meet .cardImgBox .cardImg:hover:first-of-type {
  animation: pictureR 500ms infinite linear alternate;
}
#meet .cardImgBox .cardImg:hover:last-of-type {
  animation: pictureL 500ms infinite linear alternate;
}
#meet .cardImgBox .cardImg:hover img {
  transform: scale(1.05);
}
#meet .cardImgBox .cardImg .card_img_wrap {
  border: 1rem solid #fff;
  overflow: hidden;
  font-size: 0;
}
#meet .cardImgBox .cardImg .card_img_wrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: transform 500ms;
}

/* ---------------------------- dessert ---------------------------- */
#dessert .inner_box {
  background-color: #f4efe1;
  padding: 1.5rem 1.5rem 3rem;
  margin-bottom: 3rem;
}
#dessert .inner_box .pic {
  overflow: hidden;
  font-size: 0;
}
#dessert .inner_box .pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: transform 500ms;
}
#dessert .inner_box .inner_cont {
  text-align: center;
}
#dessert .inner_box .inner_cont h3 {
  font-size: 2.3rem;
  margin-bottom: 0.5em;
  font-family: "Cardo", sans-serif;
}
#dessert .inner_box .inner_cont p {
  font-family: "Audrey", sans-serif;
  line-height: 1.5;
  margin-bottom: 1em;
}

/* ---------------------------- favorite ---------------------------- */
#favorite {
  background: #fff;
}
#favorite .inner::after {
  display: none;
}
#favorite .btn_wrap {
  margin-top: 3rem;
}

/* ---------------------------- youtube ---------------------------- */
#youtube {
  background: url(../img/bg-3.jpg) no-repeat center/cover;
  background-attachment: fixed;
  padding: 3rem;
}
#youtube .inner {
  width: 1180px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 3rem;
  padding: 3rem;
  background: #fff;
}
@media screen and (min-width: 1200px) {
  #youtube .inner {
    padding: 0;
  }
}
#youtube h1 {
  font: 3rem/1 "Cardo", sans-serif;
  margin-bottom: 0.2em;
  padding-top: 0.8em;
}
#youtube ul {
  display: flex;
  flex-wrap: wrap;
}
#youtube ul li {
  width: 50%;
  padding: 0.1rem;
}
#youtube ul li a {
  display: block;
  position: relative;
  overflow: hidden;
  font-size: 0;
}
#youtube ul li a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: transform 500ms;
}
#youtube ul li a::after {
  content: "\f04b";
  font: 3rem/1 "fontawesome";
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../img/youtube/play.svg);
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
  transition: 0.5s;
}
#youtube ul li:hover a::after {
  color: #f1decb;
  background: rgba(255, 255, 255, 0.4);
  text-shadow: 0 0 10px #333333;
}
#youtube ul li:hover a img {
  transform: scale(1.05);
}

/* ---------------------------- book ---------------------------- */
#book {
  background: url(../img/bg-4.jpg) no-repeat center/cover;
}
#book .inner {
  width: 1180px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 3rem;
  display: flex;
  justify-content: flex-end;
  padding: 3rem;
}
@media screen and (min-width: 1200px) {
  #book .inner {
    padding: 0;
  }
}
#book .box {
  width: 100%;
  padding: 3rem;
  padding-top: 1em;
  background: rgba(255, 255, 255, 0.9);
  outline: 1px solid #fff;
  outline-offset: 5px;
}
#book .box .map {
  width: 100%;
}
#book .box .map img {
  width: 100%;
}
#book .box .content {
  text-align: center;
}
#book .box .content h2 {
  font: 2.4rem/1 "Cardo", sans-serif;
  margin-bottom: 20px;
  margin-top: 0.5em;
}
#book .box .content p {
  font: 1.4rem/1.5 "Montserrat", sans-serif;
  margin-bottom: 20px;
}
#book input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  background: transparent;
  border: 1px solid #aaa;
  margin-bottom: 10px;
}
#book .subBtn {
  width: 100%;
  height: 37px;
  background: #333;
  line-height: 37px;
  color: #fff;
  border: 1px solid #333;
}

@media (min-width: 640px) {
  .content h2 {
    font-size: 3rem;
  }
  .content p {
    font-size: 1.6rem;
    line-height: 2;
  }
  .content .point {
    font-size: 2rem;
    line-height: 2;
  }

  #main {
    height: calc(100vh - 150px);
  }
  #main .mainSwiper .swiper-slide .cont h2 {
    width: 80%;
    font-size: 4rem;
  }
  #main .mainSwiper .swiper-slide .cont p {
    font-size: 2.2rem;
  }

  #popular .inner::after,
#favorite .inner::after {
    width: 20rem;
    height: 20rem;
    bottom: 3rem;
    right: 3rem;
  }
  #popular .inner h1,
#favorite .inner h1 {
    font-size: 3.6rem;
  }
  #popular .inner .wrap,
#favorite .inner .wrap {
    display: flex;
    flex-wrap: wrap;
  }
  #popular .inner .wrap article,
#favorite .inner .wrap article {
    width: calc(50% - 1rem);
    margin-right: 2rem;
  }
  #popular .inner .wrap article:nth-of-type(2n),
#favorite .inner .wrap article:nth-of-type(2n) {
    margin-right: 0;
  }
  #popular .inner .wrap article .cont h2,
#favorite .inner .wrap article .cont h2 {
    font-size: 2.2rem;
  }

  #weeks .wrap,
#dessert .wrap {
    width: 80%;
    margin: 0 auto;
  }
  #weeks .wrap .cardImgBox::before,
#dessert .wrap .cardImgBox::before {
    left: -4em;
    top: 4em;
  }

  #dessert .inner_box .inner_cont h3 {
    font-size: 2.3rem;
  }

  #recipes .wrap {
    width: 80%;
    margin: 0 auto;
  }
  #recipes .wrap .cardImgBox::before {
    right: -4em;
    top: 4em;
  }

  #youtube ul li {
    width: 33.3333%;
    padding: 0.2rem;
  }
}
@media (min-width: 840px) {
  .rotate_tit {
    font-size: 3.6rem;
  }

  .btn_more {
    font-size: 2.4rem;
  }

  #weeks .inner,
#recipes .inner,
#dessert .inner {
    height: 100%;
    padding-top: 3rem;
  }
  #weeks .wrap,
#recipes .wrap,
#dessert .wrap {
    width: 100%;
    display: flex;
    align-items: center;
  }
  #weeks .wrap .cardImgBox,
#recipes .wrap .cardImgBox,
#dessert .wrap .cardImgBox {
    max-width: 550px;
    flex: 0 0 50%;
  }
  #weeks .wrap .cardImgBox::before,
#recipes .wrap .cardImgBox::before,
#dessert .wrap .cardImgBox::before {
    width: calc(100% - 3rem);
  }
  #weeks .wrap .cardImgBox .cardImg,
#recipes .wrap .cardImgBox .cardImg,
#dessert .wrap .cardImgBox .cardImg {
    height: auto;
  }
  #weeks .content,
#recipes .content,
#dessert .content {
    width: 50%;
    padding: 2rem;
  }
  #weeks .content h2,
#recipes .content h2,
#dessert .content h2 {
    text-transform: uppercase;
    margin-top: 0;
  }

  #weeks .wrap .cardImgBox {
    padding-left: 3rem;
  }
  #weeks .wrap .cardImgBox::before {
    left: 0;
    top: 3rem;
  }
  #weeks .content {
    padding-left: 4rem;
  }

  #recipes .rotate_tit {
    right: 0;
  }
  #recipes .wrap {
    flex-direction: row-reverse;
  }
  #recipes .wrap .cardImgBox {
    padding-right: 3rem;
  }
  #recipes .wrap .cardImgBox::before {
    right: 0;
  }
  #recipes .content {
    padding-right: 4rem;
  }

  .banner .banner_inner .banner_cont a {
    width: 13rem;
    height: 13rem;
    flex: 0 0 13rem;
  }

  #meet .wrap {
    display: flex;
    align-items: flex-start;
  }
  #meet .cardImgBox {
    width: 60%;
    padding-left: 3rem;
  }
  #meet .cardImgBox .cardImg:first-of-type::before {
    bottom: -2rem;
    left: -2rem;
  }
  #meet .content {
    width: 40%;
    padding-left: 4rem;
  }
  #meet .content h2 {
    margin-top: 0;
  }

  #dessert .content {
    padding-left: 4rem;
  }
  #dessert .inner_box .pic {
    width: 50%;
    margin: 0 auto;
  }

  #book .box {
    width: 50%;
    min-width: 580px;
    display: flex;
    align-items: center;
  }
}
@media (min-width: 1200px) {
  .btn_normal {
    font-size: 1.8rem;
  }

  .rotate_tit {
    font-size: 4.6rem;
  }

  #main .mainSwiper .swiper-slide .cont {
    outline-width: 2px;
    transition: 300ms;
    opacity: 0;
  }
  #main .mainSwiper .swiper-slide .cont h2 {
    width: 50%;
    font-size: 6rem;
  }
  #main .mainSwiper .swiper-slide .cont p {
    font-size: 3rem;
  }
  #main.main_scroll_on .mainSwiper .swiper-slide .cont {
    opacity: 1;
  }

  #popular,
#favorite {
    padding: 6rem;
  }
  #popular .inner::after,
#favorite .inner::after {
    bottom: -10rem;
    right: -10rem;
  }
  #popular .inner h1,
#favorite .inner h1 {
    font-size: 4.6rem;
  }
  #popular .inner .rotate_tit,
#favorite .inner .rotate_tit {
    text-align: left;
  }
  #popular .inner .wrap article,
#favorite .inner .wrap article {
    width: calc(33.3333333333% - 1.4rem);
    margin-bottom: 0;
    transition: 1000ms;
    transform: translateY(-10%);
    opacity: 0;
  }
  #popular .inner .wrap article:nth-of-type(2n),
#favorite .inner .wrap article:nth-of-type(2n) {
    margin-right: 2rem;
  }
  #popular .inner .wrap article:last-of-type,
#favorite .inner .wrap article:last-of-type {
    margin-right: 0;
  }
  #popular.main_scroll_on .inner .wrap article,
#favorite.main_scroll_on .inner .wrap article {
    transform: translateY(0);
    opacity: 1;
  }

  #weeks .cardImgBox {
    transform: translateX(-10%);
    transition: 1s;
    opacity: 0;
  }
  #weeks h2,
#weeks .content > p,
#weeks .banner {
    transform: translateX(10%);
    transition: 1s;
    opacity: 0;
  }
  #weeks.main_scroll_on .wrap .cardImgBox,
#weeks.main_scroll_on .wrap h2,
#weeks.main_scroll_on .wrap .content > p,
#weeks.main_scroll_on .wrap .banner {
    transform: translateX(0);
    opacity: 1;
  }
  #weeks.main_scroll_on .wrap .content > p:nth-of-type(1) {
    transition-delay: 200ms;
  }
  #weeks.main_scroll_on .wrap .content > p:nth-of-type(2) {
    transition-delay: 400ms;
  }
  #weeks.main_scroll_on .wrap .content > p:nth-of-type(3) {
    transition-delay: 600ms;
  }
  #weeks.main_scroll_on .wrap .banner {
    transition-delay: 800ms;
  }

  #recipes .cardImgBox {
    transform: translateX(10%);
    transition: 1s;
    opacity: 0;
  }
  #recipes h2,
#recipes .content > p,
#recipes .banner {
    transform: translateX(-10%);
    transition: 1s;
    opacity: 0;
  }
  #recipes .content > p:nth-of-type(1) {
    transition-delay: 200ms;
  }
  #recipes .content > p:nth-of-type(2) {
    transition-delay: 400ms;
  }
  #recipes .banner {
    transition-delay: 600ms;
  }
  #recipes.main_scroll_on .wrap .cardImgBox,
#recipes.main_scroll_on .wrap h2,
#recipes.main_scroll_on .wrap .content > p,
#recipes.main_scroll_on .wrap .banner {
    transform: translateX(0);
    opacity: 1;
  }

  #meet h1 {
    opacity: 0;
    transition-delay: 600ms;
    transition: opacity 500ms;
  }
  #meet .cardImgBox .cardImg {
    transform: translateY(-10%);
    opacity: 0;
    transition: 0.5s;
  }
  #meet .cardImgBox .cardImg:first-of-type {
    margin-top: 5rem;
  }
  #meet .inner {
    padding: 6rem 3rem 12rem;
  }
  #meet .content h2,
#meet .content p,
#meet .content .btn_wrap {
    transform: translateX(10%);
    opacity: 0;
    transition: 500ms;
  }
  #meet .content p:nth-of-type(1) {
    transition-delay: 200ms;
  }
  #meet .content p:nth-of-type(2) {
    transition-delay: 400ms;
  }
  #meet .content p:nth-of-type(3) {
    transition-delay: 600ms;
  }
  #meet .content .btn_wrap {
    transition-delay: 800ms;
  }
  #meet.main_scroll_on h1 {
    opacity: 1;
  }
  #meet.main_scroll_on .cardImgBox .cardImg {
    transform: translateY(0);
    opacity: 1;
  }
  #meet.main_scroll_on h2,
#meet.main_scroll_on p,
#meet.main_scroll_on .btn_wrap {
    opacity: 1;
    transform: translateX(0);
  }

  #dessert .cardImgBox {
    transform: translateX(-10%);
    transition: 1s;
    opacity: 0;
  }
  #dessert h2,
#dessert .content > p,
#dessert .inner_box,
#dessert .btn_more {
    transform: translateX(10%);
    transition: 1s;
    opacity: 0;
  }
  #dessert .content > p:nth-of-type(1) {
    transition-delay: 200ms;
  }
  #dessert .content > p:nth-of-type(2) {
    transition-delay: 400ms;
  }
  #dessert .inner_box {
    display: flex;
    align-items: center;
    transition-delay: 600ms;
  }
  #dessert .inner_box .inner_cont h3 {
    font-size: 3rem;
  }
  #dessert .inner_box .inner_cont P {
    font-size: 2.4rem;
    letter-spacing: 1px;
  }
  #dessert .btn_more {
    transition-delay: 800ms;
  }
  #dessert.main_scroll_on .wrap .cardImgBox,
#dessert.main_scroll_on .wrap h2,
#dessert.main_scroll_on .wrap .content > p,
#dessert.main_scroll_on .wrap .inner_box,
#dessert.main_scroll_on .wrap .btn_more {
    transform: translateX(0);
    opacity: 1;
  }

  #youtube .inner {
    padding: 3rem;
  }
  #youtube .inner h1 {
    font-size: 4.6rem;
  }
  #youtube ul li {
    width: 25%;
    padding: 0.2rem;
    transform: translateY(-10%);
    opacity: 0;
    transition: 500ms;
  }
  #youtube ul li:nth-of-type(1) {
    transition-delay: 200ms;
  }
  #youtube ul li:nth-of-type(2) {
    transition-delay: 400ms;
  }
  #youtube ul li:nth-of-type(3) {
    transition-delay: 600ms;
  }
  #youtube ul li:nth-of-type(4) {
    transition-delay: 800ms;
  }
  #youtube ul li:nth-of-type(5) {
    transition-delay: 1000ms;
  }
  #youtube ul li:nth-of-type(6) {
    transition-delay: 1200ms;
  }
  #youtube ul li:nth-of-type(7) {
    transition-delay: 1400ms;
  }
  #youtube ul li:nth-of-type(8) {
    transition-delay: 1600ms;
  }
  #youtube ul li a::after {
    font-size: 5rem;
  }
  #youtube.main_scroll_on ul li {
    transform: translateY(0);
    opacity: 1;
  }

  #book {
    padding: 12rem;
  }
  #book .box {
    transform: translateX(10%);
    opacity: 0;
    transition: 500ms;
  }
  #book.main_scroll_on .box {
    transform: translateY(0);
    opacity: 1;
  }
}
.content {
  width: 100%;
}

.inner {
  width: 1180px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 3rem;
}
@media screen and (min-width: 1200px) {
  .inner {
    padding: 0;
  }
}
.inner h1 span {
  font: normal 2rem/1 "맑은 고딕";
  color: #aaa;
}
.inner h1 span::before {
  content: "/";
  margin-right: 2rem;
  margin-left: 1rem;
}

/*# sourceMappingURL=style.css.map */
