@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Cardo:ital@1&family=Homemade+Apple&family=Montserrat:wght@300;600&display=swap");
@keyframes bgSizeAni {
  0% {
    background-size: 100% 100%;
  }
  100% {
    background-size: 105% 105%;
  }
}
@keyframes arrowBtnPrev {
  0% {
    left: 30%;
  }
  100% {
    left: 70%;
  }
}
@keyframes arrowBtnNext {
  0% {
    left: 70%;
  }
  100% {
    left: 30%;
  }
}
@keyframes pictureR {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(-10deg);
  }
}
@keyframes pictureL {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(10deg);
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: inherit;
}

::-webkit-scrollbar {
  display: none;
}

ul,
li,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background-color: inherit;
  border: 0;
  cursor: pointer;
}

fieldset {
  border: 0;
}

.radio,
.checkbox {
  cursor: pointer;
}

.hidden {
  position: absolute;
  text-indent: -9999px;
}

html,
body {
  font-size: 10px;
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
}

/* 버튼 */
.btn_wrap {
  width: 100%;
  display: flex;
  justify-content: center;
}

.btn_more {
  display: inline-block;
  margin: 0 auto;
  position: relative;
  font: 1.6rem/1 "Audrey", sans-serif;
}
.btn_more::after {
  content: " ";
  display: block;
  width: 100%;
  height: 1em;
  position: relative;
  top: -0.5em;
  left: 0.7em;
  background-color: #cde4de;
  transition: 0.5s;
}
.btn_more:hover::after {
  background-color: #e6e7e1;
}
.btn_more span {
  position: relative;
  z-index: 1;
}

.btn_normal {
  font-size: 1.6rem;
  display: inline-block;
  padding: 0.3em 1em;
  background-color: #333;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
  color: #fff;
}
.btn_normal:hover {
  background: #dfb15b;
}

/* 스크롤 감추기 */
.scroll_hidden {
  height: 100%;
  min-height: 100%;
  overflow: hidden !important;
  touch-action: none;
}

/* 
  * font : 'Montserrat';
    - 100, 300, 500, 700
*/
h1,
h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.pagination {
  width: 100%;
  text-align: center;
}
.pagination:after {
  content: "";
  display: block;
  clear: both;
}
.pagination .prev {
  float: left;
  display: block;
  width: 2rem;
  height: 2rem;
  position: relative;
  text-align: center;
  font-size: 1.2rem;
}
.pagination .prev:after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: #777;
  position: absolute;
  top: 50%;
  transform: rotate(-30deg);
  transform-origin: left center;
  transition: all 0.5s;
}
.pagination .prev::before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: #777;
  position: absolute;
  top: 50%;
  transform: rotate(30deg);
  transform-origin: left center;
  transition: all 0.5s;
}
.pagination .prev span {
  display: inline-block;
  line-height: 2rem;
  color: #777;
  text-align: center;
  opacity: 0;
  transform: translateX(100%);
  transition: all 0.5s;
}
.pagination .prev:hover:after {
  top: 0;
  transform: rotate(180deg);
  transform-origin: center center;
}
.pagination .prev:hover:before {
  top: 100%;
  transform: rotate(180deg);
  transform-origin: center center;
}
.pagination .prev:hover span {
  opacity: 1;
  transform: translateX(0);
}
.pagination .next {
  float: right;
  display: block;
  width: 2rem;
  position: relative;
  text-align: center;
  font-size: 12px;
}
.pagination .next::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #777;
  position: absolute;
  top: 50%;
  transform: rotate(30deg);
  transform-origin: right center;
  transition: all 0.5s;
}
.pagination .next::before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #777;
  position: absolute;
  top: 50%;
  transform: rotate(-30deg);
  transform-origin: right center;
  transition: all 0.5s;
}
.pagination .next span {
  display: inline-block;
  line-height: 2rem;
  color: #777;
  text-align: center;
  opacity: 0;
  transform: translateX(100%);
  transition: all 0.5s;
}
.pagination .next:hover:after {
  top: 0;
  transform: rotate(-180deg);
  transform-origin: center center;
}
.pagination .next:hover:before {
  top: 100%;
  transform: rotate(-180deg);
  transform-origin: center center;
}
.pagination .next:hover span {
  opacity: 1;
  transform: translateX(0);
}
.pagination .numbers {
  display: inline-block;
  text-align: center;
  font-size: 0;
}
.pagination .numbers a {
  display: inline-block;
  border-top: 1px solid #888;
  border-bottom: 1px solid #888;
  width: 2rem;
  height: 2rem;
  font: 11px/2rem "arial";
  color: #666;
  margin: 0 5px;
}
.pagination .numbers a:hover {
  background: #666;
  color: #fff;
}

@media (min-width: 640px) {
  .pagination .next,
.pagination .prev {
    width: 3rem;
    height: 3rem;
  }
  .pagination .next span,
.pagination .prev span {
    line-height: 3rem;
  }
  .pagination .numbers a {
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
  }
}
.table_layout {
  overflow-x: auto;
}
.table_layout table {
  table-layout: fixed;
  min-width: 1000px;
}

table {
  font-size: 1.6rem;
  width: 100%;
  border-bottom: 2px solid #333;
  margin-bottom: 50px;
  border-collapse: collapse;
  font-family: "Montserrat", sans-serif;
}
table thead {
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
}
table thead th {
  padding: 15px;
  box-sizing: border-box;
}
table thead th:nth-of-type(1) {
  width: 10%;
}
table thead th:nth-of-type(3) {
  width: 15%;
}
table thead th:nth-of-type(4) {
  width: 10%;
}
table thead th:nth-of-type(5) {
  width: 15%;
}
table tbody tr {
  border-bottom: 1px solid #aaa;
}
table tbody tr:hover {
  background-color: #f6ebe4;
  color: #8e4a15;
}
table tbody tr:hover a {
  color: #8e4a15;
}
table tbody tr td {
  padding: 13px;
  text-align: center;
}
table tbody tr td:nth-of-type(2) {
  text-align: left;
}
table tbody tr td a {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  line-height: 1.4;
}

.pop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 30;
  background: rgba(255, 255, 255, 0.9);
  padding: 6rem 3rem 3rem;
  transform: translateX(100%);
  transition: transform 500ms;
}
.pop .inner {
  width: 1180px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 3rem;
  height: 100%;
  padding: 0;
  overflow-y: auto;
}
@media screen and (min-width: 1200px) {
  .pop .inner {
    padding: 0;
  }
}
.pop .pop_cancle {
  width: 3rem;
  height: 3rem;
  position: absolute;
  right: 3rem;
  top: 1.5rem;
}
.pop .pop_cancle::after, .pop .pop_cancle::before {
  content: "";
  display: block;
  width: 136%;
  height: 1px;
  position: absolute;
  background-color: #333;
  transform-origin: left;
  transition: 300ms;
}
.pop .pop_cancle::after {
  left: 0;
  top: 0;
  transform: rotate(45deg);
}
.pop .pop_cancle::before {
  left: 0;
  bottom: 0;
  transform: rotate(-45deg);
}
.pop .pop_cancle span {
  display: inline-block;
  opacity: 0;
  transform: translateX(-100%);
  transition: 300ms;
}
.pop .pop_cancle:hover::after, .pop .pop_cancle:hover::before {
  width: 100%;
  transform: rotate(0);
}
.pop .pop_cancle:hover span {
  transform: translateX(0%);
  opacity: 1;
}
.pop .pop_cont {
  width: 100%;
}
.pop .pop_cont .pic {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-size: 0;
}
.pop .pop_cont .pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: transform 500ms;
}
.pop .pop_cont .title {
  font-size: 2.2rem;
  margin-top: 0.8em;
  padding: 0.5em 0;
  border-top: 3px solid #dfb15b;
}
.pop .pop_cont .owner {
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  margin-bottom: 1em;
}
.pop .pop_cont .owner img {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 1rem;
  border: 2px solid #e0e1da;
}
.pop .pop_cont .desc {
  font-size: 1.6rem;
}

@media (min-width: 840px) {
  .pop .pop_cont {
    display: flex;
    height: 100%;
    position: relative;
  }
  .pop .pop_cont .pic {
    width: 100%;
  }
  .pop .pop_cont .cont {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 2em;
  }
  .pop .pop_cont .cont .owner {
    color: #333;
  }
  .pop .pop_cont .title {
    font-size: 3rem;
    margin-top: 0;
    margin-bottom: 1em;
    padding: 0;
    padding-left: 1rem;
    border-top: 0;
    border-left: 0.5rem solid #dfb15b;
    color: #333;
  }
}
input,
textarea {
  font-size: 1.6rem;
  border: 0;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 0.5em;
}
input:focus,
textarea:focus {
  outline-color: #dfb15b;
}

textarea {
  resize: none;
}

.input_group {
  margin-bottom: 3em;
  position: relative;
}
.input_group .form_title {
  font-size: 1.8rem;
  color: #dfb15b;
  margin-bottom: 0.5em;
}
.input_group input[type=text],
.input_group input[type=password] {
  width: 100%;
  max-width: 30rem;
  height: 3.4rem;
  box-shadow: 5px 5px #f6ebe4;
}
.input_group select {
  width: 100%;
  max-width: 30rem;
  height: 3.4rem;
  margin-top: 0.5em;
  border: 1px solid #f6ebe4;
  box-shadow: 5px 5px #f6ebe4;
}
.input_group textarea {
  width: 100%;
  max-width: 30rem;
  height: 20rem;
  box-shadow: 5px 5px #f6ebe4;
}
.input_group .err_msg {
  position: absolute;
}

.radio {
  position: relative;
  padding-left: 2.2rem;
  font-size: 1.6rem;
  color: #777;
  margin-right: 1em;
}
.radio:before {
  content: "";
  display: block;
  width: 1rem;
  height: 1rem;
  position: absolute;
  top: 3px;
  left: 3px;
  background-color: #ccc;
  border-radius: 50%;
  outline: 1px solid #ccc;
  outline-offset: 3px;
}
.radio input {
  width: 0;
  height: 0;
}
.radio.on {
  color: #333;
}
.radio.on::before {
  background-color: #8e4a15;
  outline-color: #8e4a15;
}

.btn_wrap {
  display: flex;
  margin-top: 5em;
}
.btn_wrap input {
  width: 50%;
  height: 3.4rem;
  margin-right: 2%;
  background: #eee;
  color: #777;
  cursor: pointer;
}
.btn_wrap input.btn_submit {
  background: #8e4a15;
  color: #fff;
  margin-right: 0;
}

@media (min-width: 640px) {
  .input_group .input_mail {
    display: flex;
    align-items: center;
  }
  .input_group .input_mail input {
    margin-right: 2%;
  }
  .input_group .input_mail select {
    margin-top: 0;
  }
}
@media (min-width: 1200px) {
  .input_group input[type=text],
.input_group input[type=password],
.input_group select,
.input_group textarea {
    max-width: 100%;
  }
  .input_group .input_mail {
    display: block;
  }
  .input_group .input_mail select {
    margin-top: 0.5em;
  }
}
header {
  width: 100%;
  height: 100px;
}
header .header_wrap {
  width: 100%;
  height: 100px;
  background: #fff;
  color: #333;
  position: fixed;
  top: 0;
  z-index: 20;
  transition: 0.3s;
}
header .inner {
  width: 1180px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 3rem;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
@media screen and (min-width: 1200px) {
  header .inner {
    padding: 0;
  }
}
header .logo {
  width: 200px;
  transition: 0.3s;
}
header .logo a {
  height: 100%;
  display: block;
  font-size: 0;
}
header .logo a img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: 0.3s;
}

.gnb_toggle {
  width: 3rem;
}

/* gnb */
.gnb_box {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 50;
  display: none;
}
.gnb_box.open {
  display: block;
}
.gnb_box .gnb_overlay {
  width: 100vmax;
  height: 100vmax;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 50%;
  transform: translate(0) scale(0);
  transform-origin: top right;
  transition: 500ms;
}
.gnb_box .gnb_overlay.fade_bg {
  transform: translate(50%, -50%) scale(2);
}

.gnb_inner {
  width: 80vw;
  max-width: 30rem;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 1.6rem;
  background-color: #fff;
  opacity: 0;
  transition: 500ms;
  transform: translateX(100%);
}
.gnb_inner.mob_open {
  opacity: 1;
  transform: translateX(0);
}
.gnb_inner .gnb_cancle {
  width: 3rem;
  height: 3rem;
  position: absolute;
  right: 1.6em;
  top: 2em;
  z-index: 10;
}
.gnb_inner .gnb_cancle::after, .gnb_inner .gnb_cancle::before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #000;
  transform-origin: center;
}
.gnb_inner .gnb_cancle::after {
  transform: rotate(45deg);
}
.gnb_inner .gnb_cancle::before {
  transform: translateY(2px) rotate(-45deg);
}

#gnb {
  font: 2.4rem/1 "Montserrat";
  padding-top: 2.5em;
}
#gnb li {
  text-align: right;
}
#gnb li:last-child {
  margin-right: 0;
}
#gnb li.page_on {
  color: #dfb15b;
  font-weight: 600;
}
#gnb li a {
  display: block;
  padding: 1em 0;
  transition: 0.3s;
}
#gnb li a:hover {
  color: #dfb15b;
}

/* util */
.util {
  display: flex;
  justify-content: flex-end;
}
.util li {
  font-size: 0;
  margin-left: 1rem;
  background: #f3e6de;
  color: #777;
  padding: 0.5rem;
  line-height: 1;
  border-radius: 0.2rem;
}
.util li a {
  transition: 0.3s;
}
.util li a:hover {
  color: #dfb15b;
}
.util li a i {
  font-size: 1.6rem;
}
.util li:last-of-type {
  display: flex;
  align-items: center;
}
.util li:last-of-type a {
  display: inline-block;
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 1;
  color: #8e4a15;
}

header.scroll .header_wrap {
  height: 80px;
  border-bottom: 1px solid #efefef;
}
header.scroll .logo {
  padding: 0.5em 0;
}
header.scroll .logo img {
  object-position: left;
}

/*------------------------ loading ------------------------*/
.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 100;
  background-color: #f6ebe4;
  overflow: hidden;
  font-family: "Audrey", sans-serif;
}
.loading div {
  font-size: 3rem;
}
.loading span {
  opacity: 0;
  animation: loading 1000ms linear infinite alternate;
}
.loading span:nth-of-type(1) {
  animation-delay: 100ms;
}
.loading span:nth-of-type(2) {
  animation-delay: 200ms;
}
.loading span:nth-of-type(3) {
  animation-delay: 300ms;
}
.loading span:nth-of-type(4) {
  animation-delay: 400ms;
}
.loading span:nth-of-type(5) {
  animation-delay: 500ms;
}
.loading span:nth-of-type(6) {
  animation-delay: 600ms;
}
.loading span:nth-of-type(7) {
  animation-delay: 700ms;
}
.loading span:nth-of-type(8) {
  animation-delay: 800ms;
}
.loading span:nth-of-type(9) {
  animation-delay: 900ms;
}
.loading span:nth-of-type(10) {
  animation-delay: 1000ms;
}

@keyframes loading {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@media (min-width: 640px) {
  header {
    height: 150px;
  }
  header .header_wrap {
    height: 150px;
  }
  header .logo {
    width: 300px;
    flex: 0 0 300px;
  }
}
@media (min-width: 1200px) {
  .gnb_toggle {
    display: none;
  }

  .gnb_box {
    height: auto;
    display: block !important;
    position: relative;
  }
  .gnb_box .gnb_overlay {
    display: none;
  }

  .gnb_inner {
    width: 100%;
    max-width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    right: auto;
    bottom: auto;
    padding: 0;
    background: transparent;
    padding: 0;
    opacity: 1;
    transform: translateX(0);
  }
  .gnb_inner .gnb_cancle {
    display: none;
  }

  #gnb {
    padding: 0;
    font-size: 1.6rem;
  }
  #gnb ul {
    display: flex;
  }
  #gnb ul li {
    margin-right: 2rem;
  }
  #gnb ul li a {
    line-height: 150px;
    padding: 0;
  }

  .util li {
    background: transparent;
    color: #333;
    margin-left: 0.2rem;
  }
  .util li a i {
    font-size: 18px;
  }

  header.scroll #gnb ul li a {
    line-height: 80px;
  }

  .loading div {
    font-size: 6rem;
    letter-spacing: 2px;
  }
}
/* ---------------------------- footer ---------------------------- */
footer {
  font: 600 10px/1.5 "Montserrat", sans-serif;
  letter-spacing: 2px;
  background-color: #464648;
  color: #fff;
}
footer .footerTop {
  text-align: center;
}
footer .footerTop p {
  position: relative;
  padding: 30px 15px;
  box-sizing: border-box;
}
footer .footerTop p:nth-of-type(2) {
  font: 20px/1.2 "Cardo", sans-serif;
}
footer .footerTop p:last-of-type:after {
  display: none;
}
footer .footerTop p::after {
  content: " ";
  display: block;
  width: 100%;
  height: 1px;
  background: #fff;
  position: absolute;
  right: 0;
  bottom: 0;
}

.footerBottom {
  background-color: #222;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
}

@media (min-width: 640px) {
  footer .inner {
    display: flex;
    padding: 2em 0;
  }
  footer .footerTop p {
    width: 33.33%;
    padding-top: 1em;
    padding-bottom: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  footer .footerTop p::after {
    width: 1px;
    height: 100%;
  }
}
.members {
  background-color: #fafafa;
  background-image: url(../img/bg-2.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.members #members .wrap {
  display: flex;
  flex-wrap: wrap;
}
.members #members .wrap article.member {
  width: 100%;
  position: relative;
  margin-bottom: 11%;
  padding: 20px 20px 30px;
  box-shadow: 10px 10px 4px rgba(192, 192, 192, 0.3);
  background-color: #fff;
  overflow: hidden;
  transition: 500ms;
  border-radius: 0.5em;
}
.members #members .wrap article.member:before {
  content: "";
  display: block;
  width: 50px;
  height: 120%;
  background-color: rgba(255, 255, 255, 0.8);
  filter: blur(10px);
  position: absolute;
  top: 0;
  left: -50%;
  z-index: 10;
  transform: skew(-20deg);
  transition: 800ms;
}
.members #members .wrap article.member:hover {
  box-shadow: 1px 1px 5px rgba(51, 51, 51, 0.8), -1px -1px 5px rgba(51, 51, 51, 0.8);
}
.members #members .wrap article.member:hover::before {
  left: 130%;
}
.members #members .wrap article.member .img_box {
  height: 100vmin;
  position: relative;
  overflow: hidden;
}
.members #members .wrap article.member .img_box .pic {
  height: 80%;
  overflow: hidden;
  font-size: 0;
}
.members #members .wrap article.member .img_box .pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: transform 500ms;
}
.members #members .wrap article.member .img_box .team_name {
  width: 100px;
  height: 100%;
  display: flex;
  align-items: flex-end;
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  background-color: rgba(51, 51, 51, 0.8);
  font: 1.4rem/1.4 "Montserrat";
  color: #fff;
  letter-spacing: 5px;
}
.members #members .wrap article.member h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: left;
  font-size: 2rem;
  font-family: "Montserrat";
  letter-spacing: 3px;
}
.members #members .wrap article.member p {
  font-size: 1.6rem;
  letter-spacing: 1px;
}
.members #members .wrap article.member.team_rnd:hover {
  box-shadow: 1px 1px 5px rgba(142, 74, 21, 0.8), -1px -1px 5px rgba(142, 74, 21, 0.8);
}
.members #members .wrap article.member.team_rnd .team_name {
  background-color: rgba(142, 74, 21, 0.8);
}
.members #members .wrap article.member.team_design:hover {
  box-shadow: 1px 1px 5px rgba(84, 81, 35, 0.8), -1px -1px 5px rgba(84, 81, 35, 0.8);
}
.members #members .wrap article.member.team_design .team_name {
  background-color: rgba(84, 81, 35, 0.8);
}

@media (min-width: 640px) {
  .members #members .wrap article.member {
    width: 48%;
    margin-right: 4%;
    margin-bottom: 4%;
  }
  .members #members .wrap article.member:nth-of-type(2n) {
    margin-right: 0;
  }
  .members #members .wrap article.member .img_box {
    height: 50vmin;
  }
}
@media (min-width: 1200px) {
  .members #members .wrap article.member {
    width: 26%;
    margin-right: 11%;
    margin-bottom: 11%;
  }
  .members #members .wrap article.member:nth-of-type(2n) {
    margin-right: 11%;
  }
  .members #members .wrap article.member:nth-of-type(3n) {
    margin-right: 0;
  }
  .members #members .wrap article.member .img_box {
    height: 300px;
  }
}
.community .inner {
  padding-bottom: 10em;
}
.community .btn_wrap {
  justify-content: flex-end;
  margin-bottom: 1em;
}

.qna_list li {
  position: relative;
  border: 1px solid #eee;
  font-size: 1rem;
  box-shadow: 5px 5px 5px rgba(170, 170, 170, 0.6);
  margin-bottom: 1em;
  overflow: hidden;
}
.qna_list li a {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1em;
  padding-left: calc(1em + 5px);
}
.qna_list li:after {
  content: "";
  width: 150%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(255, 82, 82, 0.6);
  transform: rotate(-45deg);
  z-index: -1;
}

.qna_infos {
  display: flex;
  align-items: center;
  border-radius: 50%;
  margin-bottom: 10px;
}
.qna_infos .pic {
  width: 60px;
  height: 60px;
  margin-right: 1em;
  overflow: hidden;
  font-size: 0;
}
.qna_infos .pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: transform 500ms;
}
.qna_infos .date {
  font-size: 0.8rem;
  color: #777;
}

.qna_icons {
  margin-top: 0.5em;
}
.qna_icons .icon {
  font-size: 14px;
  color: #777;
}

.qna_cont {
  width: 100%;
}
.qna_cont .title {
  font-weight: bold;
  font-size: 1.2rem;
  line-height: 1;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 0.51em;
}
.qna_cont .desc {
  color: #777;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

@media (min-width: 640px) {
  .qna_list {
    display: flex;
    flex-wrap: wrap;
  }
  .qna_list li {
    width: calc(50% - 10px);
    margin-right: 20px;
    margin-bottom: 20px;
  }
  .qna_list li:nth-of-type(2n) {
    margin-right: 0;
  }
}
@media (min-width: 1200px) {
  .qna_icons {
    display: flex;
  }
  .qna_icons .icon {
    margin-left: 0.5em;
  }
}
.join {
  background-image: url(../img/bg-3.jpg);
}
.join .inner {
  width: 1180px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 3rem;
  width: 800px;
  padding-bottom: 10em;
}
@media screen and (min-width: 1200px) {
  .join .inner {
    padding: 0;
  }
}
.join .inner_cont {
  padding: 3em;
  backdrop-filter: blur(5px);
}
.join .left_cont h2 {
  font-size: 3.6rem;
  font-family: "Cardo", sans-serif;
  letter-spacing: 1px;
  margin-bottom: 0.4em;
}
.join .left_cont p {
  font-size: 1.6rem;
  margin-bottom: 2em;
}

.err_msg {
  font-size: 1.2rem;
  color: #ff5252;
  margin-top: 0.5em;
}

@media (min-width: 840px) {
  .join .inner_cont {
    display: flex;
    padding: 0;
  }
  .join .inner_cont .left_cont {
    width: 50%;
    background: url(../img/blog/HC-post-62.jpg) no-repeat center/cover;
    padding: 2rem;
    color: #fff;
    text-shadow: 1px 1px 10px #333;
  }
  .join .inner_cont .right_cont {
    width: 50%;
    padding: 2rem 3rem;
    border: 1px solid #e0e1da;
    border-left: 0;
  }
}
@media (min-width: 1200px) {
  .join {
    padding-bottom: 10em;
  }
}
.gallery .inner {
  padding-bottom: 10rem;
}
.gallery .search_wrap {
  display: flex;
  justify-content: flex-end;
}
.gallery .search_wrap input[type=text] {
  border-bottom: 1px solid #333;
  margin-bottom: 1em;
}
.gallery .search_wrap .btn_search {
  font-size: 1.6rem;
  line-height: 1.6rem;
  height: 35px;
  position: relative;
  padding: 0.1em 0.5em;
  background: #333;
  border: 1px solid #333;
  color: #fff;
}
.gallery .search_wrap .btn_search::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0.5em;
  right: -0.5em;
  z-index: -1;
  background-color: #cde4de;
}
.gallery .list {
  position: relative;
}
.gallery .list ul {
  opacity: 0;
  transition: opacity 300ms;
  display: flex;
  flex-wrap: wrap;
}
.gallery .list ul.on {
  opacity: 1;
}
.gallery .list ul li {
  width: calc(50vw - 3rem);
  height: calc(50vw - 3rem);
}
.gallery .list ul li a {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
}
.gallery .list ul li a .pic {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-size: 0;
}
.gallery .list ul li a .pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: transform 500ms;
}
.gallery .list ul li a .cont {
  font-size: 1.6rem;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 3rem 1rem 2rem;
  background-image: linear-gradient(to top, #333, transparent);
  color: #fff;
}
.gallery .list ul li a .cont .title {
  font-size: 1.4rem;
  font-weight: bold;
}
.gallery .list ul li a .cont .owner {
  display: none;
  align-items: center;
  margin-top: 1em;
}
.gallery .list ul li a .cont .img_owner {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 0.5rem;
}
.gallery .list .no_list {
  display: block;
  padding-top: 4rem;
}
.gallery .list .no_list .no_search {
  width: 100%;
  font-size: 2rem;
  font-weight: bold;
  color: #dfb15b;
  text-align: center;
}
.gallery .list .no_list .notfound {
  width: 100%;
  font-size: 2rem;
  text-align: center;
}
.gallery .list .no_list .notfound span {
  font-weight: bold;
  color: #dfb15b;
  font-size: 3rem;
}
.gallery .list_loading {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  border: 3px solid #dfb15b;
  position: absolute;
  top: 4rem;
  left: 50%;
  transform: translateX(-50%);
}
.gallery .list_loading .ball_holder {
  width: 100%;
  height: 100%;
  animation: rotate 2000ms linear infinite;
}
.gallery .list_loading .ball {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: #dfb15b;
  transform: translate(-5px, 0);
}

.pop_gallery .pop_cont .pic img {
  object-fit: contain;
}

@media (min-width: 640px) {
  .gallery .list ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 30vw);
    grid-auto-rows: 1fr;
    grid-auto-flow: dense;
    gap: 1em;
  }
  .gallery .list ul li {
    width: 100%;
    height: auto;
  }
  .gallery .list ul li:nth-of-type(9n+1) {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
  }
  .gallery .list ul li:nth-of-type(9n+2) {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .gallery .list ul li:nth-of-type(9n+3) {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .gallery .list ul li:nth-of-type(9n+4) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
  }
  .gallery .list ul li:nth-of-type(9n+5) {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
  }
  .gallery .list ul li:nth-of-type(9n+6) {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
  }
  .gallery .list ul li:nth-of-type(9n+7) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
  }
  .gallery .list ul li:nth-of-type(9n+8) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 6;
  }
  .gallery .list ul li:nth-of-type(9n) {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 6;
  }
  .gallery .list ul li a .cont .title {
    font-size: 1.8rem;
  }
}
@media (min-width: 840px) {
  .gallery .list ul {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 25vmin);
  }
  .gallery .list ul li:nth-of-type(9n-8) {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
  }
  .gallery .list ul li:nth-of-type(9n-7) {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
  }
  .gallery .list ul li:nth-of-type(9n-6) {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .gallery .list ul li:nth-of-type(9n-5) {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .gallery .list ul li:nth-of-type(9n-4) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 5;
  }
  .gallery .list ul li:nth-of-type(9n-3) {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
  }
  .gallery .list ul li:nth-of-type(9n-2) {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
  }
  .gallery .list ul li:nth-of-type(9n-1) {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
  }
  .gallery .list ul li:nth-of-type(9n) {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 5;
  }
  .gallery .list ul li a .cont .owner {
    display: flex;
  }
}
@media (min-width: 1200px) {
  .gallery .list ul {
    grid-template-rows: repeat(4, 30rem);
  }
}
.youtube .inner {
  width: 1180px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 3rem;
}
@media screen and (min-width: 1200px) {
  .youtube .inner {
    padding: 0;
  }
}
.youtube .list ul {
  display: flex;
  flex-wrap: wrap;
}
.youtube .list ul li {
  width: 100%;
  margin-bottom: calc(10% + 3rem);
}
.youtube .list ul li a {
  display: block;
  position: relative;
}
.youtube .list ul li .pic {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-size: 0;
}
.youtube .list ul li .pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: transform 500ms;
}
.youtube .list ul li .pic img {
  transform: scale(1.05);
}
.youtube .list ul li .cont {
  width: 80%;
  position: absolute;
  left: 0;
  bottom: -20%;
  background-color: #fff;
  padding: 1rem;
  transition: 500ms;
}
.youtube .list ul li .cont .title {
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 0.5em;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.youtube .list ul li .cont .owner {
  font-size: 1.2rem;
  margin-bottom: 1em;
}
.youtube .list ul li .cont .desc {
  font-size: 1.4rem;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.youtube .list ul li:hover .cont {
  box-shadow: 0px 0px 5px #dfb15b;
}
.youtube .list ul li:hover .pic img {
  transform: scale(1.05) translateX(-10px);
}

.pop_youtube .pop_cont {
  height: 100%;
}
.pop_youtube iframe {
  width: 100%;
  height: 100%;
}

@media (min-width: 640px) {
  .youtube .list ul li {
    width: 49%;
    margin-right: 2%;
  }
  .youtube .list ul li:nth-of-type(2n) {
    margin-right: 0;
  }
  .youtube .list ul li .cont {
    height: 12rem;
  }
}
@media (min-width: 1200px) {
  .youtube .list ul li {
    width: 32%;
    margin-right: 2%;
    margin-bottom: 6%;
  }
  .youtube .list ul li:nth-of-type(2n) {
    margin-right: 2%;
  }
  .youtube .list ul li:nth-of-type(3n) {
    margin-right: 0%;
  }
  .youtube .list ul li .cont {
    height: 12rem;
  }
}
.location .inner {
  width: 1180px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 3rem;
}
@media screen and (min-width: 1200px) {
  .location .inner {
    padding: 0;
  }
}
.location .btn_company {
  display: flex;
  justify-content: center;
}
.location .btn_company li {
  position: relative;
  margin-right: 2em;
}
.location .btn_company li:last-of-type {
  margin-right: 0;
}
.location .btn_company li::before {
  content: "";
  display: block;
  width: 0%;
  height: 50%;
  position: absolute;
  bottom: 0;
  z-index: -1;
  background: #f6ebe4;
  transition: 500ms;
}
.location .btn_company li:hover::before, .location .btn_company li.on::before {
  width: 100%;
}
.location .btn_company li a {
  font-size: 1.6rem;
  display: block;
  text-align: center;
}
.location .map_cont {
  position: relative;
  margin-top: 2rem;
}
.location .map_cont .map {
  width: 100%;
  height: 60vw;
  background: #eee;
  margin-bottom: 2rem;
}
.location .map_cont .info h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 0.8em;
}
.location .map_cont .info dt {
  font-size: 1.6rem;
  margin-bottom: 0.5em;
}
.location .map_cont .info dd {
  font-size: 1.2rem;
  margin-bottom: 2em;
}
.location .btn_submit {
  max-width: 10rem;
}

.send_mail {
  margin-top: 8rem;
  margin-bottom: 10rem;
}
.send_mail form {
  position: relative;
}
.send_mail legend {
  width: 80%;
  max-width: 186px;
  font-size: 2rem;
  position: absolute;
  left: 50%;
  top: -1.5rem;
  transform: translateX(-50%);
  padding: 0.5rem 2rem;
  text-align: center;
  background: #e0e1da;
}
.send_mail fieldset {
  padding: 3rem 2rem 2rem;
  border: 1px solid #f6ebe4;
}

.alert {
  font-size: 1.6rem;
  position: fixed;
  bottom: 0.5em;
  right: -100%;
  background: #dfb15b;
  padding: 1em;
  color: #fff;
  transition: 500ms;
}
.alert.on {
  right: 0.5em;
}

@media (min-width: 640px) {
  .location .btn_company li::before {
    left: 10%;
  }
  .location .btn_company li a {
    font-size: 1.8rem;
  }
}
@media (min-width: 840px) {
  .location .btn_company li a {
    font-size: 2rem;
  }
  .location .map_cont .map {
    height: 30vw;
    max-height: 440px;
  }
  .location .map_cont .info {
    width: 30rem;
    height: 42rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: absolute;
    bottom: -23rem;
    left: 2em;
    z-index: 1;
    padding: 2em;
    background-color: rgba(255, 255, 255, 0.6);
    outline: 2px solid #fff;
    outline-offset: 5px;
  }
  .location .map_cont .info::before {
    content: "";
    display: block;
    width: 100%;
    height: 23rem;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    background-color: #eee;
    opacity: 0.8;
  }
  .location .map_cont .info dd {
    font-size: 1.4rem;
  }
  .location .map_cont .info dd:last-of-type {
    margin-bottom: 0;
  }
  .location .send_mail {
    display: flex;
    justify-content: flex-end;
    margin-top: 3rem;
  }
  .location .send_mail form {
    width: calc(100% - 35rem);
  }
  .location .send_mail form .input_group input[type=text],
.location .send_mail form textarea {
    max-width: 100%;
  }
}
.content {
  width: 100%;
}

section .inner {
  width: 1180px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 3rem;
}
@media screen and (min-width: 1200px) {
  section .inner {
    padding: 0;
  }
}
section h1 {
  font: 500 3rem/1 "Audrey", sans-serif;
  padding: 2em 0 1em;
  text-align: center;
  letter-spacing: 0.2em;
}
section h1 span {
  position: relative;
}
section h1 span::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background: #333;
}

@media (min-width: 320px) {
  section h1 {
    font-size: 3.4rem;
  }
}
@media (min-width: 640px) {
  section h1 {
    font-size: 6rem;
  }
}
@media (min-width: 1200px) {
  section h1 {
    font-size: 8rem;
    padding-top: 1.5em;
  }
}

/*# sourceMappingURL=sub_style.css.map */
